
@{
    ViewBag.Title = "HoanThanhDat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HoanThanhDat</h2>

<div style="text-align:center">
    <h2>
        Đặt Hàng Thành Công
    </h2>
    <p>
        @Html.ActionLink("Về trang chủ", "Index", "Home", null, new { @class = "btn btn - primary" })
    </p>
</div>